<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>my_name:{{ name }}</p>
    <p>my_age:{{ age }}</p>
    <p>my_dict:{{ my_dict["city"]}}</p>
    <p>my_dict:{{ my_dict.city }}</p>
    <p>my_list:{{ my_list }}</p>
    <P>my_list:{{ my_list[my_int]}}</P>
    <p>my_list[0] + my_list[1] = {{ my_list[0] + my_list[1] }}</p>
    <p>{{ "hello Flask" }}</p>
    <p>{{ "    This is a try    "| trim | title}}</p>
    <p>{{ my_list | li2 }}</p>
    <p>{{ my_list | li3 }}</p>
</body>
</html>